@page "/ChamandoComponentes"
@using BlazorEcomm.Shared.Models


<h1 class=" text-center">Chamando Componentes</h1>
<div class="text-center">
    <p>
        A ideia é chamar e juntar os componentes criados.
    </p>
</div>
<div>
    <br />
    <ComponenteCpf></ComponenteCpf>
    <br />
    <ProdutosIncluir></ProdutosIncluir>
    <br />
    <ProdutosListar></ProdutosListar>
    <br />
    <ProdutosAlterar></ProdutosAlterar>
    <br />
    <ProdutosExcluir></ProdutosExcluir>


</div>


@code {

}
