@inherits LayoutComponentBase

<div class="px-5 flex-column d-flex vh-100">

    <div class="bg-dark  text-white text-center p-4">
        <NavLink class="text-decoration-none" href="/ProdutosListar"> Listar Produtos </NavLink> |
        <NavLink class="text-decoration-none" href="/ProdutosIncluir"> Incluir Produtos </NavLink> |
        <NavLink class="text-decoration-none" href="/ProdutosAlterar"> Consultar/Alterar Produtos </NavLink> |
        <NavLink class="text-decoration-none" href="/ProdutosExcluir"> Excluir Produto </NavLink>
    </div>

    <article class="content py-4 h-100">
        @Body
    </article>

    <div class="bg-dark text-white text-center p-4">
        meu footer
    </div>
</div>
